<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <% content_for :title, _('Paths') %>
  <% content_for :icon, Path.icon %>
<%- end -%>

<%= search_form_for [@base_object&.as_base_class, @q] do |f| %>
  <div class="form-group">
    <%= f.label _('Name') %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: _('Search by name...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= render(
  'common/content_list',
  result: @paths
) %>
