<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-header">
      <h3>
        <i class="fa fa-<%= dash[:model].icon %>" aria-hidden="true"></i>
        <%= _('New %{kind}') % { kind: _(dash[:model].display_name.pluralize) } %>
        <div class="badge badge-secondary"><%= dash[:relation].total_count %></div>
        <%- if @timestamp_service.can_set? -%>
          <%= link_to(
            dashboard_mark_as_read_path(dash[:table]),
            method: :put,
            class: 'btn btn-outline-primary btn-sm float-right',
            data: {
              toggle: 'tooltip',
              placement: 'top'
            },
            title: _('Mark as read')
          ) do %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </h3>
    </div>
    <div class="card-body">
      <%= render(
        'common/content_list',
        result: dash[:relation],
        paginate_param_name: dash[:paginate_param_name]
      ) %>
    </div>
  </div>
</div>
