<%- if @timestamp_service.can_set? -%>
  <%= link_to(
    dashboard_mark_all_as_read_path,
    method: :put,
    class: 'btn btn-primary float-right'
  ) do %>
    <i class="fa fa-check" aria-hidden="true"></i>
    <%= _('Mark all as read') %>
  <% end %>
<% end %>

<h2 class="mb-3">
  <i class="fa fa-dashboard" aria-hidden="true"></i>
  <%= _('Dashboard') %>
</h2>
