<%= search_form_for [@base_object, @q] do |f| %>
  <div class="pull-right">
    <a href="#search-more" data-toggle="collapse">
      <%= _('more search options') %> <span class="fa fa-caret-down"></span>
    </a>
  </div>

  <div class="collapse" id="search-more">
    <div class="form-group">
      <%= f.label _('Style') %>
      <div class="checkbox"><label>
        <%= f.check_box :style_redpoint_true, include_hidden: false %>
        <%= _('only redpoint ascents (or better)') %>
      </label></div>
    </div>
    <div class="form-group">
      <%= f.label _('Pitches') %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&gt;=</span>
        </div>
        <%= f.search_field :route_pitches_gteq, class: 'form-control', placeholder: _('min pitches') %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">&lt;=</span>
        </div>
        <%= f.search_field :route_pitches_lteq, class: 'form-control', placeholder: _('max pitches') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label _('Location') %>
    <%= f.search_field :route_geo_ref_name_cont, class: 'form-control', placeholder: _('Search for route at a location...') %>
  </div>

  <div class="form-group">
    <%= f.label _('Route') %>
    <div class="input-group">
      <%= f.search_field :route_name_cont, class: 'form-control', placeholder: _('Search for route...') %>
      <div class="input-group-append">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <a href="#sort-links" data-toggle="dropdown">
      <%= _('sorting') %> <span class="fa fa-caret-down"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= sort_link(@q, :when, default_order: :desc) %></li>
      <li><%= sort_link(@q, :route_grade_difficulty, default_order: :desc) %></li>
    </ul>
  </div>
<% end %>
