<%- content_for :title, _('System information') -%>
<%- content_for :icon, 'info-circle' -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= _('Software component') %></th>
      <th><%= _('Version info') %></th>
    </tr>
  </thead>
  <tbody>
    <%- {
      'Routenbuch' => @version,
      'Ruby' => @sys_info.ruby_version,
      'Rails' => @sys_info.rails_version,
      'Postgres' => @sys_info.postgres_version,
      'Redis' => @sys_info.redis_version,
      'Vips (image processing library)' => "#{@sys_info.vips_version} (using formats: #{@supported_image_types.join(', ')})",
    }.each do |name,version| -%>
      <tr>
        <td><%= name %></td>
        <td><%= version %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<h2><%= _('HTTP request info') %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= _('Request field') %></th>
      <th><%= _('value') %></th>
    </tr>
  </thead>
  <tbody>
    <%- {
      'Server name' => request.env['SERVER_NAME'],
      'Server software' => request.env['SERVER_SOFTWARE'],
      'HTTP version' => request.env['HTTP_VERSION'],
      'HTTP Accept-Language' => request.env['HTTP_ACCEPT_LANGUAGE'],
      'HTTP User agent' => request.env['HTTP_USER_AGENT'],
    }.each do |name,version| -%>
      <tr>
        <td><%= name %></td>
        <td><%= version %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
