<%- if @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :icon, Comment.icon -%>
  <%- content_for :title, _('All Comments') -%>
<%- end -%>


<%- if @base_object && can?(:create, Comment.new(target: @base_object, user: current_user)) -%>
  <%- content_for :buttons do -%>
  <%= icon_link_to(
    'pencil',
    _('Write a comment'),
    polymorphic_url([@base_object.as_base_class,Comment], action: :new),
    class: 'btn btn-primary'
  ) %>
  <% end -%>
<% end -%>

<%= render partial: 'comments/global_search_form' %>
<%= render(
  'common/content_list',
  result: @comments,
  row_options: {
    include_geo_ref: @base_object.nil?
  },
  geo_ref_headers: true
) %>
