<div class="user-avatar" data-toggle="tooltip" data-placement="top" title="<%= user&.name %>">
<%- if user.present? && user.avatar.attached? -%>
    <%= image_tag(user.avatar.variant(resize_to_limit: [40,40]), class: 'img-circle') %>
<%- else -%>
  <%-
    colors = %w[2d3460 a7337e ce4969 67ba9e 93b43b aacd41]
    color = if user.present?
              colors[user.id % colors.length]
            else
              '767676'
            end
  -%>
  <svg width="40" height="40" viewBox="0 0 40 40">
    <rect width="100%" height="100%" fill="#<%= color %>"/>
    <text fill="#fff" font-family="Helvetica,Arial,sans-serif" font-size="20" font-weight="500" x="50%" y="55%" dominant-baseline="middle" text-anchor="middle">
      <%- if user.present? -%>
        <%= user.initial_letters %>
      <%- else -%>
        ?
      <%- end -%>
    </text>
  </svg>
<%- end -%>
</div>
