<li>
  <div class="controls">
    <%- if can? :edit, item -%>
      <%= icon_link_to 'edit', '',  edit_regulated_geo_ref_path(item), class: 'btn btn-success btn-sm' %>
    <%- end -%>
  </div>
  <div class="title">
    <%= link_to item.geo_ref.name, item.geo_ref.as_base_class %>
    <small><%= item.reason %></small>
  </div>
  <div class="description">
    <%= render(
      partial: 'zones/icon',
      locals: {
        item: item.geo_ref.zone,
        tooltip: _('Primary zone')
      }
    ) if item.geo_ref.zone.present? %>
    <%- item.geo_ref.secondary_zones.each do |sz| -%>
      <%= render(
        partial: 'zones/icon',
        locals: {
          item: sz.zone,
          tooltip: sz.description
        }
      ) %>
    <%- end -%>
  </div>
</li>
