<%= render partial: 'geo_refs/head', locals: { geo_ref: @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @geo_ref } %>

<h3 class="mt-3"><%= _('Permissions') %></h3>

<p><%= _('Permissions will grant contributors additional permissions on a location and all sub-locations.') %></p>

<div class="card">
  <div class="card-header"><%= _('Assign additional permissions') %></div>
  <div class="card-body">
    <p><%= _('You can assign permissions to contributors.') %></p>
    <%= simple_form_for([@geo_ref.as_base_class, @new_permission]) do |form| -%>
      <%= form.error_notification %>

      <%= form.input(
        :user,
        label: _('Contributor'),
        as: :autocomplete,
        type: :object,
        autocomplete_url: autocomplete_admin_users_path,
      ) %>
      <%= form.input(
        :level,
        label: _('Permission level'),
        collection: Permission.valid_levels,
        include_blank: false,
        hint: _('Level of permissions to assign.')
      ) %>

      <%= form.button :submit %>
<% end -%>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header"><%= _('Existing permissions') %></div>
  <div class="card-body">
    <%= render(
      'common/content_list',
      result: @permissions,
      paginate: false,
      row_options: {
        show_controls: true
      }
    ) %>
  </div>
</div>

<h3 class="mt-3"><%= _('Inherited permissions') %></h3>

<p><%= _('Permissions inherited from parent locations.') %></p>

<%= render(
  'common/content_list',
  result: @inherited_permissions,
  paginate: false,
  row_options: {
    show_origin: true,
  }
) %>
