<%= render_navigation do |primary|
  primary.item(
    :guide,
    {
      icon: 'info',
      text: _('Guide'),
    },
    geo_ref_path(geo_ref)
  )
  primary.item(
    :geo_refs,
    {
      text: "#{_('Locations')} <span class=\"badge badge-secondary\">#{geo_ref.descendents.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'map-marker',
    },
    geo_ref_geo_refs_path(geo_ref)
  )
  primary.item(
    :routes,
    {
      text: "#{_('Routes')} <span class=\"badge badge-secondary\">#{geo_ref.descendent_routes.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'book',
    },
    geo_ref_routes_path(geo_ref)
  )
  primary.item(
    :paths,
    {
      icon: 'map',
      text: "#{_('Paths')} <span class=\"badge badge-secondary\">#{geo_ref.paths.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_paths_path(geo_ref)
  ) if geo_ref.supports_paths?
  primary.item(
    :approaches,
    {
      icon: 'map',
      text: "#{_('Approaches')} <span class=\"badge badge-secondary\">#{geo_ref.approaches.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_approaches_path(geo_ref)
  ) if geo_ref.supports_approaches?
  primary.item(
    :ascents,
    {
      icon: 'address-book-o',
      text: "#{_('Ascents')} <span class=\"badge badge-secondary\">#{geo_ref.ascents.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_ascents_path(geo_ref)
  ) if geo_ref.supports_ascents?
  primary.item(
    :ticklists,
    {
      text: "#{_('Ticklist')} <span class=\"badge badge-secondary\">#{geo_ref.ticklists.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'check-square-o',
    },
    geo_ref_ticklists_path(geo_ref)
  ) if geo_ref.supports_ticklists?
  primary.item(
    :comments,
    {
      text: "#{_('Comments')} <span class=\"badge badge-secondary\">#{geo_ref.self_and_descendent_comments.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'comments',
    },
    geo_ref_comments_path(geo_ref)
  )
  primary.item(
    :photos,
    {
      text: "#{_('Photos')} <span class=\"badge badge-secondary\">#{geo_ref.self_and_descendent_photos.accessible_by(current_ability, :read).count}</span>".html_safe,
      icon: 'photo',
    },
    geo_ref_photos_path(geo_ref)
  )
  primary.item(
    :closures,
    {
      icon: Closure.icon,
      text: "#{_('Closures')} <span class=\"badge badge-secondary\">#{geo_ref.self_and_descendent_closures.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_closures_path(geo_ref)
  ) if geo_ref.supports_closures?
  primary.item(
    :regulations,
    {
      icon: Regulation.icon,
      text: "#{_('Climbing regulations')} <span class=\"badge badge-secondary\">#{geo_ref.self_and_descendent_regulations.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_regulations_path(geo_ref)
  ) if geo_ref.supports_regulations?
  primary.item(
    :first_ascent_people,
    {
      icon: FirstAscentPerson.icon,
      text: "#{_('First Ascensionists')} <span class=\"badge badge-secondary\">#{geo_ref.first_ascent_people.accessible_by(current_ability, :read).count}</span>".html_safe,
    },
    geo_ref_first_ascent_people_path(geo_ref)
  )
  primary.item(
    :versions,
    {
      text: _('Change history'),
      icon: Version.icon,
    },
    geo_ref_versions_path(geo_ref)
  ) if can?(:read, Version.new(geo_ref: geo_ref))
  primary.item(
    :permissions,
    {
      text: _('Permissions'),
      icon: Permission.icon,
    },
    geo_ref_permissions_path(geo_ref)
  ) if can?(:read, Permission.new(geo_ref: geo_ref))
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
