<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :title, _('Locations') -%>
  <%- content_for :icon, GeoRef.icon -%>
<%- end -%>

<%= render 'advanced_search/form',
  advanced_mode: @advanced_mode,
  simple_label: _('Search'),
  simple_search_field: :search_full_text,
  simple_placeholder: _('Search terms...'),
  q: @q %>

<%= render(
  'common/content_list',
  result: @geo_refs,
) %>
