<%= render partial: 'geo_refs/head', :locals => { :geo_ref => @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', :locals => { :geo_ref => @geo_ref } %>

<% @closures.each do |closure| -%>
  <%= render partial: 'closures/alert', locals: { closure: closure } %>
<% end -%>
<% if @route_closures.any? -%>
  <%= render partial: 'closures/alert_routes_with_closures' %>
<% end -%>

<%= render(
  partial: 'zones/icon',
  locals: {
    item: @geo_ref.zone,
    size: '3x'
  }
) if @geo_ref.zone.present? %>
<% @geo_ref.secondary_zones.each do |sr| -%>
  <% if can?(:update, sr) -%>
    <%= render(
      partial: 'zones/icon',
      locals: {
        item: sr.zone,
      }
    ) %>
    <%= sr.description %>
    <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_geo_ref_secondary_zone_path(@geo_ref, sr), class: 'btn btn-link btn-sm' %>
  <% end %>
<% end -%>

<%- if @geo_ref.legal_status.present? -%>
  <dl>
    <dt><%= _('Legal status') %></dt>
    <dd>
      <%= render(
        partial: 'common/legal_status',
        locals: { legal_status: @geo_ref.legal_status }
      ) %>
    </dd>
  </dl>
<%- end -%>

<%- if @geo_ref.alternative_names.any? -%>
  <dl>
    <dt><%= _('Other names') %></dt>
    <dd><%= @geo_ref.alternative_names.join(', ') %></dd>
  </dl>
<%- end -%>

<%= render partial: 'location_map', :locals => { :geo_ref => @geo_ref } %>

<p><em><%= @geo_ref.description %></em></p>

<%= render partial: 'taggables/tags_by_category', :locals => { :tags => @geo_ref.tags } %>

<% if @geo_ref.body.present? -%>
  <%= markdown @geo_ref.body %>

  <hr></hr>
<% end -%>

<% if @childs.present? %>
  <h3>
    <%= @geo_ref.is_a?(Crag) ? _('Sectors') : _('Regions') %>
    <% if can? :update, @geo_ref -%>
      <a class="btn btn-sm btn-outline-secondary pull-right" href="<%=  sort_childs_geo_ref_path @geo_ref %>">
        <i class="fa fa-arrows-v" aria-hidden="true"></i> <%= _('change order') %>
      </a>
    <% end -%>
  </h3>
  <%= render(
    'common/content_list',
    result: @childs,
    paginate: false
  ) %>
<% end %>

<% if @routes.present? %>
  <h3>
    <%= _('Routes') %>
    <% if can? :update, @geo_ref -%>
      <a class="btn btn-sm btn-outline-secondary pull-right ml-1" href="<%=  sort_routes_geo_ref_path @geo_ref %>">
        <i class="fa fa-arrows-v" aria-hidden="true"></i> <%= _('change order') %>
      </a>
    <% end -%>
  </h3>
  <%= render(
    'common/content_list',
    result: @routes,
    row_options: {
      show_closures: true
    },
    paginate: false
  ) %>
<% end %>

<% if @topos.present? %>
  <div class="header"><%= _('Topos') %></div>
  <%= render(
    'common/content_list',
    result: @topos,
    paginate: false
  ) %>
<% end %>

<%= render partial: 'rbids/links', locals: { rbids: @rbids } %>
