<%- content_for :buttons do -%>
  <% if can?(:create, GeoRef) -%>
    <%= link_to "<span class=\"fa fa-plus\"></span> #{_('New Country')}".html_safe, new_geo_refs_path(type: 'Country'), class: 'btn btn-success pull-right' %>
  <% end -%>
<% end -%>

<%- content_for :title, _('World') -%>
<%- content_for :icon, 'globe' -%>

<%= render(
  'common/content_list',
  result: @geo_refs,
) %>
