<template>
    <div style="display: none">
        <slot v-if="ready"></slot>
    </div>
</template>

<script>
import { findRealParent, propsBinder } from 'vue2-leaflet';
import Vue from 'vue'

const LGpx = Vue.extend({
  props: {
    gpxFile: {
      type: String,
    },
    gpxOptions: {
      type: Object,
      default: () => (
        {
          async: true,
          polyline_options: {
            color: 'blue',
            opacity: 0.50,
            weight: 4,
            lineCap: 'round'
          },
          marker_options: {
            startIconUrl: null,
            endIconUrl: null,
            // startIconUrl: require('leaflet-gpx/pin-icon-start.png'),
            // endIconUrl: require('leaflet-gpx/pin-icon-end.png'),
            iconUrl: require('leaflet-gpx/icons/pin-icon-wpt.png'),
            shadowUrl: require('leaflet-gpx/icons/pin-shadow.png')
          }
        }
      ),
    }
  },
  data() {
    return {
      ready: false,
      mapObject: null,
      parentContainer: null,
    };
  },
  mounted() {
    this.mapObject = new L.GPX(this.gpxFile, this.gpxOptions)

    L.DomEvent.on(this.mapObject, this.$listeners);
    this.ready = true;
    this.parentContainer = findRealParent(this.$parent);
    this.parentContainer.addLayer(this);
  },
  beforeDestroy() {
    this.parentContainer.removeLayer(this);
  }
});

export default LGpx;
</script>
