<%= search_form_for(q, url: url_for(controller: controller_name, action: :index) ) do |f| %>
  <div class="form-group">
    <%= f.label label %>
    <div class="input-group">
      <%= f.search_field search_field, :class => 'form-control', :placeholder => placeholder %>
      <div class="input-group-append">
        <%= button_tag(:submit, class: 'btn btn-primary') do %>
          <i class="fa fa-search fa-lg" aria-hidden="true"></i> <%= _('Search') %>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
