<%= simple_form_for([:admin, @product]) do |form| -%>
  <%= form.error_notification %>

  <%= form.input(
    :name,
    label: _('Name'),
  ) %>

  <%= form.input(
    :generic,
    label: _('Is a generic product.'),
    hint: _('Check this if the product is NOT a specific product.'),
  ) %>

  <%= form.input(
    :description,
    label: _('Description'),
    hint: _('Additional information for this product'),
    input_html: { rows: 8 },
  ) %>

  <%= form.input :photo, as: :file %>
  <%=
    begin 
      image_tag(@product.photo.variant(resize_to_limit: [200,200]), class: 'img-thumbnail') if @product.photo.attached?
    rescue ActiveStorage::InvariableError
      # in case of invalid upload the preview will fail
    end
  %>

  <%= form.input(
    :vendor,
    as: :autocomplete,
    autocomplete_url: autocomplete_admin_vendors_path,
    label: _('Vendor'),
  ) %>
  <%= form.input(
    :article_number,
    label: _('Article number'),
    hint: _('The vendors article number that exactly specifies the product.'),
  ) %>
  <%= form.input(
    :kind,
    label: _('Type'),
    collection: Product.kinds.map { |k| [_(k), k] }
  ) %>
  <%= form.input(
    :standard,
    label: _('Standard'),
    collection: Product.standards,
  ) %>
  <%= form.input(
    :url,
    label: _('URL'),
    hint: _('Additional URL to vendor information on this product.')
  ) %>

  <%= form.button :submit %>
<% end -%>
