<%- return unless photo&.photo&.attached? -%>
<%- content_for :cover_photo do -%>
  <%= image_tag(
    photo.photo.variant(resize_to_fill: [1140,250]),
    srcset: [
      [
        url_for(
          photo.photo.variant(resize_to_fill: [2280, 500]),
        ),
        '2x'
      ]
    ],
    class: 'img-fluid shadow'
  ) %>
<%- end -%>
