<% content_for :title, _('Editing Person') %>
<% content_for :icon, @first_ascent_person.icon %>

<% content_for :buttons do %>
  <% if can?(:destroy, @first_ascent_person) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, @first_ascent_person, method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%= render 'form' %>
