<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <% content_for :buttons do %>
    <% if can?(:create, FirstAscentPerson) -%>
      <%= link_to(
        "<span class=\"fa fa-plus\"></span> #{_('New person')}".html_safe,
        new_first_ascent_person_path,
        class: 'btn btn-success'
      ) %>
    <% end -%>
  <% end -%>
  <% content_for :title, _('People doing first ascents') %>
  <% content_for :icon, FirstAscentPerson.icon %>
<%- end -%>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, class: 'form-control', placeholder: _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= render(
  'common/content_list',
  result: @first_ascent_people
) %>
