div.content-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      display: block;

      &::after {
        display: block;
        content: "";
        clear: both;
      }

      > .header {
        color: black;
        font-weight: 600;
        text-decoration: underline;
        display: inline;
        margin-bottom: 0px;
        padding-bottom: 0px;

        a {
          color: black;
        }
      }
      > .thumb {
        float: left;
        margin-right: 10px;
      }
      > .controls {
        float: right;
        font-weight: normal;
        text-align: right;
      }
      > .title {
        font-weight: 600;
        small {
          font-weight: 300;
          color: #555;
        }
        a {
          color: #333;
        }
      }
      > .description {
        color: #555;
      }
    }

    > li.path {
      padding: 0;
      border-bottom: 0;
    }
  }
}

div#location-map {
  height: 150px;
  width: 100%;
}

.redpoint {
  color: #f00;
}

div.topo {
  width: 800px;
  height: 600px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.compass {
  display: inline-block;
  background: url(<%= asset_path 'icons/compass.svg' %>);
  width: 48px;
  height: 48px;
  background-size: contain;
}
.compass-pointer {
  background: url(<%= asset_path 'icons/compass-pointer.svg' %>);
  width: 48px;
  height: 48px;
  background-size: contain;
}

.messure_height {
  display: inline-block;
  vertical-align: top;
  background-image: url(<%= asset_path 'icons/height.svg' %>);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  padding-left: 48px;
  height: 48px;
}

.autocomplete-input ~ .invalid-feedback,
.style-input ~ .invalid-feedback,
.partial-date-input ~ .invalid-feedback,
.strong-password-input ~ .invalid-feedback{
  display: block;
}

.comment-body {
  max-height: 250px;
  overflow-y: auto;
}

.diff-attribute {
  font-weight: bold;
}

.diff-content {
  white-space: pre;
  overflow: auto;

  .diff-discard {
    background-color: #fcb3b5;
    display: inline;
    text-decoration: line-through;
  }
  .diff-add {
    background-color: #b7fcb2;
    display: inline;
  }
}

.card-header .card-collapse-icon {
  transition: .3s transform ease-in-out;
}
.card-header.collapsed .card-collapse-icon {
  transform: rotate(90deg);
}

.leaflet-top, .leaflet-bottom {
  z-index: 900;
}

.grade-very-easy {
  background-color: #f7ca18;
  color: #fff;
}
.grade-easy {
  background-color: #5b8930;
  color: #fff;
}
.grade-medium {
  background-color: #4b77be;
  color: #fff;
}
.grade-hard {
  background-color: #cf000f;
  color: #fff;
}
.grade-extrem {
  background-color: #424242;
  color: #fff;
}
.grade-ultra {
  background-color: #E4BE6C;
  color: #333;
}
.grade-no-category {
  background-color: #888;
  color: #333;
}
