<nav class="navbar navbar-dark p-0 navbar-expand-lg">
  <a class="navbar-brand" href="<%= root_path %>">
    <div id="brand-text"><%= page_title %></div>
    <div id="brand-logo"></div>
  </a>
  <%- if show_global_search -%>
    <%= form_with(url: search_index_path, method: :get, local: true, class: 'm-md-2', id: 'global-search') do %>
      <div class="input-group mt-1">
        <%= text_field_tag(:q, '', type: 'search', placeholder: _('Search'), class: 'form-control form-control-sm') %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-sm btn-secondary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    <% end %>
  <%- end -%>
  <%- if show_navigation -%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render_navigation(
        context: navigation_context,
        expand_all: true
      ) %>
    </div>
  <%- end -%>
</nav>
