<%= simple_form_for([:admin, @user]) do |form| -%>
  <%= form.error_notification %>

  <h3><%= _('General information') %></h3>

  <%= form.input(
    :email,
    label: _('E-Mail'),
  ) %>
  <%= form.input(
    :name,
    label: _('Full name'),
  ) %>
  <%= form.input(
    :role,
    label: _('Role'),
    collection: @user.valid_roles,
    include_blank: false,
    hint: _('Rights to assign to user.')
  ) %>

  <h3><%= _('Password') %></h3>

  <%= form.input(
    :password,
    label: _('New password'),
    as: :strong_password,
  ) %>
  <%= form.input :password_confirmation, label: _('Password confirmation') %>

  <h3><%= _('Access scopes') %></h3>

  <p><%= _('Restrict the access based on assigned scopes.') %></p>

  <%= form.input(:scope_web_ui, label: 'web_ui', hint: _('Access to web interface')) %>
  <%= form.input(:scope_embed_api, label: 'embed_api', hint: _('Access to Embedding API')) %>

  <%= form.button :submit %>
<% end -%>
