<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <% content_for :title, _('All Closures') %>
  <% content_for :icon, Closure.icon %>
<%- end -%>

<%= search_form_for [@base_object&.as_base_class, @q] do |f| %>
  <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
  <div class="form-group">
    <%- if @regions -%>
      <%= f.label _('Region') %>
      <%= f.collection_select(
        :geo_ref_id_eq,
        @regions,
        :id,
        :name,
        { include_blank: true },
        { class: 'form-control' },
      ) %>
    <%- end -%>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :start_at do %>
        <%= f.sort_link(:start_at, _('Start')) %>
      <% end %>
      <%= f.search_field :start_at_eq, class: 'form-control', placeholder: _('YYYY-MM-DD') %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :end_at do %>
        <%= f.sort_link(:end_at, _('End')) %>
      <% end %>
      <%= f.search_field :end_at_eq, class: 'form-control', placeholder: _('YYYY-MM-DD') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.check_box(:active_true, include_hidden: false) %>
    <%= f.label _('Show only active closures') %>
  </div>
  <div class="form-group">
    <%= f.label :description do %>
      <%= f.sort_link(:description, _('Description')) %>
    <% end %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: _('Search by name...') %>
      <div class="input-group-append">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= render(
  'common/content_list',
  geo_ref_headers: true,
  result: @closures,
  row_options: proc do |item|
    {
      geo_refs: @geo_refs[item.id],
      routes: @routes[item.id],
    }
  end
) %>

<%= icon_link_to(
  :feed,
  _('follow feed'),
  polymorphic_path([:feed, @base_object&.as_base_class, Closure], format: :rss),
  class: 'btn btn-sm btn-outline-secondary mt-3'
) %>
