<% content_for :title, _('User Settings') %>
<% content_for :icon, User.icon %>

<%= render_navigation &tab_nav %>

<%= simple_form_for(@user, url: profile_password_path) do |form| %>
  <%= form.error_notification %>

  <%= form.input(
    :current_password,
    label: _('Current password'),
    hint: _('You must provide your current password in order to change it.')
  ) %>

  <%= form.input(
    :password,
    as: :strong_password,
    label: _('New password'),
    confirmation_label: _('Password confirmation') 
  ) %>
  <%= form.input :password_confirmation, label: _('Password confirmation') %>

  <%= form.button :submit, _('Save password') %>
<% end %>

