<%-
  raise "no result provided to content_list template!" if result.nil?

  view_name ||= result.model.table_name
  row_template ||= 'default'

  _path = [view_name, 'content-list', row_template]
  _path.unshift(scope) if defined? scope
  row_template_path ||= _path.join('/')
  row_options ||= {}
  show_path = @base_object.is_a? GeoRef if show_path.nil?

  paginate_param_name ||= :page
  paginate = true unless paginate.is_a? FalseClass
-%>
<div class="content-list">
  <ul>
    <%- prev_region = nil -%>
    <% result.each do |row| -%>
      <%- if show_path -%>
        <%-
          region = if row.is_a? GeoRef
                    row.parent
                  elsif row.respond_to? :geo_ref
                    row.geo_ref
                  end
        -%>
        <%- if region.present? && region != prev_region && region.association(:path_cache).loaded? -%>
          <li class="path">
            <small>
              <%= render 'geo_ref_path_caches/path', geo_ref_path_cache: region.path_cache %>
            </small>
          </li>
        <%- end -%>
      <%- end -%>
      <%- row_locals = row_options.is_a?(Proc) ? row_options.call(row) : row_options -%>
      <%= render(
        partial: row_template_path,
        locals: row_locals.merge(item: row)
      ) %>
      <%- prev_region = region -%>
    <% end -%>
  </ul>

  <%- if paginate -%>
    <%= paginate(
      result,
      param_name: paginate_param_name
    ) %>

    <p class="page_entries_info">
      <%- display_name = result.model.display_name %>
      <%= page_entries_info(
        result,
        entry_name: n_(display_name, display_name.pluralize, result.size)
      ) %>
    </p>
  <%- end -%>
</div>
