<%-
  icon, color = case legal_status
                when 'approved'
                  ['check', 'success']
                when 'requested'
                  ['file-text', 'warning']
                when 'declined'
                  ['times-circle', 'danger']
                when 'unknown'
                  ['question', 'danger']
                end
-%>
<i class="fa text-<%= color %> fa-<%= icon %>" aria-hidden="true"></i> <%= _(legal_status) %>
