<div class="dropdown">
  <button class="btn btn-link dropdown-toggle text-secondary" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-question"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
    <%= link_to _('Help'), help_path('README.html'), class: 'dropdown-item' %>
    <%= link_to _('Support'), help_path('support/README.html'), class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to _('About'), help_path('about/README.html'), class: 'dropdown-item' %>
  </div>
</div>
