<% if user_signed_in? -%>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle text-secondary" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-user"></span>
      <%= current_user.name.present? ? current_user.name : current_user.email %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
      <%- dropdown_link_options = {
        class: 'dropdown-item',
        icon_class: ['fw']
      } -%>
      <%= icon_link_to(
        Ascent,
        _('My Ascents'),
        user_ascents_path(current_user),
        **dropdown_link_options
      ) if Routenbuch.features.ascents? %>
      <%= icon_link_to(
        Ticklist,
        _('My Ticklist'),
        user_ticklists_path(current_user),
        **dropdown_link_options
      ) if Routenbuch.features.ticklists? %>
      <%= icon_link_to Photo, _('My Photos'), user_photos_path(current_user), **dropdown_link_options %>
      <%= icon_link_to Version, _('My change history'), user_versions_path(current_user), **dropdown_link_options %>
      <div class="dropdown-divider"></div>
      <%= icon_link_to 'user', _('Profile'), current_user, **dropdown_link_options %>
      <%= icon_link_to 'gear', _('Settings'), profile_path, **dropdown_link_options %>
      <div class="dropdown-divider"></div>
      <%= icon_link_to('sign-out', _('Sign out'), destroy_user_session_path, :method => :delete, **dropdown_link_options) %>
    </div>
  </div>
<% elsif Routenbuch.public? -%>
  <%= icon_link_to('sign-in', _('Sign in'), new_user_session_path, class: 'btn btn-outline-primary m-1') %>
<% end -%>
